
/***********************/
/* BELOW 1448px (Smaller desktops) */
/***********************/

@media (max-width:99.3em){
    .hero{
        max-width: 140rem;
    }
    .heading-primary{
        font-size: 3.6rem;
    }
    .gallery{
        grid-template-columns: repeat(2 , 1fr);
    }
}


/***********************/
/* BELOW 1300px (Landscape Tablets) */
/***********************/

@media (max-width: 81.25em){
    html{
        font-size: 56.25%;
    }

    .heading-primary{
        font-size: 3rem;
    }

    .hero-description{
        font-size:1.8rem;
    }

    .heading-secondary{
        font-size: 3rem;
    }

    .heading-tertiary{
        font-size: 2rem;
    }

    .testimonial-container{
        padding: 8.4rem 2.8rem;
    }

}

/***********************/
/* BELOW 1100px (Tablets) */
/***********************/

@media (max-width:68.75em){
    html{
        font-size: 50%;
    }

    .section-hero{
        padding: 4.6rem 4.6rem;
    }

    .hero{
        gap: 4.6rem;
    }

    .btn:link,
    .btn:visited{
        font-size: 1.6rem;
        padding: 1rem 2rem;
        align-items: center;
    }

    .section-testimonials{
        gap: 2.4rem;
    }

    .testimonials{
        column-gap: 2rem;
    }

    .grid{
        column-gap: 3.2rem;
    }
}

@media (max-width:49em){

    .hero{
        grid-template-columns: 1fr;
        gap: 8rem;
    }
    .hero-text-box,
    .hero-img-box{
        text-align: center;
    }

    .hero-img{
        width: 60%;
    }
    
    .grid{
        gap: 3.2rem;
        column-gap: 2.4rem;
        /* grid-template-columns: repeat(2, 1fr); */
    }

    .grid .diets{
        grid-column: 1/ -1;
        justify-self: center;
        /* align-self: center; */
    }

    .grid--4-cols{
        grid-template-columns: repeat(2, 1fr);
    }

    .grid--3-cols{
        grid-template-columns: repeat(2, 1fr);
    }

    .footer{
        padding: 2.4rem 4.8rem 2.4rem 4.8rem;
    }

    .footer--grid{
        grid-template-columns: repeat(6, 1fr);
    }

    .main-nav-list{
        gap: 0.6rem;
    }

    .hero-description{
        align-items: center;
    }

    .delivered-meals{
        justify-content: center;
        margin-top: 2.4rem;
    }
    
    .step-number{
        font-size: 7.4rem;
    }

    .section-meals{
        padding: 0.8rem;
    }

    .meal-content{
        padding: 2.4rem 1.2rem 3.2rem 1.2rem;
    }

    .section-testimonials{
        grid-template-columns: 1fr;
    }

    .gallery{
        grid-template-columns: repeat(6 , 1fr);
    }

    .cta {
        grid-template-columns: 3fr 2fr;
    }
    
    .cta-form{
        grid-template-columns: 1fr;
    }

    .btn--form{
        margin-top: 3.6rem;
    }

    /* MOBILE NAVIGATION */
    .sticky .header{
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 8rem;
        padding-top: 0;
        padding-bottom: 0;
        background-color: rgba(255,255,255, 0.97);
        z-index: 11;

        box-shadow: 0 1.2rem 3.2rem rgba(0,0,0,0.03);
    }

    .section-hero{
        margin-top: 9.6rem;
    }

}

@media (max-width:40em){
    html{
        font-size: 43.75%;
    }

    .heading-secondary,
    .heading-primary{
        font-size: 2.4rem;
    }

    .step-number{
        font-size: 6.4rem;
    }

    .step-description{
        font-size: 1.6rem;
        line-height: 1.6;
    }

    .grid--2-cols{
        gap: 1.2rem;

    }

    .section-feature,
    .section-meals,
    .section-testimonials,
    .section-pricing{
        padding: 3.4rem;
    }

      /* MOBILE NAVIGATION */
      .btn-mobile-nav {
        display: block;
        z-index: 9999;
     }

     .main-nav{
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);

        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in;

        /* Hide navigation */
        /* Allows NO transition at all */
        /* display:none */

        /* Hide it visually*/
        opacity: 0;

        /* 2) Make it unaccessible to mouse and keyboard */
        pointer-events: none;

        /* 3) Hide it from screen readers*/
        visibility: hidden;
     }

     .nav-open .main-nav{
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
     }

     .nav-open .icon-mobile-nav[name="close-outline"]{
        display: block;
     }

     .nav-open .icon-mobile-nav[name="menu-outline"]{
        display: none;
     }

     .main-nav-list{
        flex-direction: column;
        gap: 4.8rem;
     }

     .main-nav-link:link,
     .main-nav-link:visited{
        font-size: 3.2rem;
     }

     .nav-open .main-nav{
        opacity: 1;
     }

     .logos {
        column-gap: 1.2rem;
        
     }

     .section-feature{
        padding: 3.6rem 0 2.4rem 0;
     }

     .pricing-plan{
        width: 100%;
        padding:2.4rem;
     }

     .cta-text-box{
        padding: 3.6rem 4.6rem 4.6rem 4.6rem;
     }

     .nav-col{
        grid-row: 1;
        grid-column: span 2;
        margin-bottom: 3.2rem;
     }

     .logo-col, .address-col {
        grid-column: span 3;
        
     }

}

@media (max-width:28em){

    .grid{
        row-gap: 4.8rem;
    }

    .grid--2-cols,
    .grid--3-cols,
    .grid--4-cols{
        grid-template-columns: 1fr;
    }

    .btn,
    .btn:link,
    .btn:visited{
        padding: 1.8rem 1.6rem;
    }

    .section-hero{
        padding: 2.4rem 0 6.4rem 0;
    }

    .hero{
        padding: 0 3.2rem;
    }

    .grid .diets{
        justify-self: flex-start;
    }

    .step-img-box:nth-child(2){
        grid-row: 1;
    }

    .step-img-box:nth-child(6){
        grid-row: 5;
    } 

    .step-img-box{
        transform: translateY(2.4rem);
    }

    .testimonials{
        grid-template-columns: 1fr;
    }

    .gallery{
        grid-template-columns: repeat(4, 1fr);
        gap:1.2rem
    }

    .cta{
        grid-template-columns: 1fr;
    }

    .cta-img-box{
        height: 45rem;
        background-size: cover;
        grid-row: 1;
    }

}



