*{
    
    box-sizing: border-box;
}
h1{
    font-family: sans-serif;
    font-size: 24px;
    color: rgb(16, 218, 236);
    text-transform: uppercase;
}



h2, h3{
    font-family: sans-serif;
    color: rgb(16, 218, 236);
    font-size: 24px;
}

h4{
    text-align: center;
    color: rgb(16, 218, 236);
    font-size: 24px;
}


ul li, ol{
    list-style: none; 
    text-decoration: none;
}

a:link{
    color: black;
    text-decoration: none;
}
a:hover{
    color: rgb(65, 216, 224);
}
a:visited{
    color: rgb(16, 218, 236);
}

li:first-child{
    /* font-weight: bold; */
}
li:last-child{
    font-style: italic;
}

aside{
    border-top: 5px solid rgb(16, 218, 236);
    border-bottom: 5px solid rgb(16, 218, 236);
    /* height: 400px; */
    background-color: rgb(219, 215, 215);
    display: inline-block;
    box-sizing: border-box;
}

nav a:link {
    margin-right:20px;
    text-decoration: none;
}

.post-img{
    width: 100%;
    height: auto;
}

button {
    position:absolute;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
}

h3::first-line {
    color:rgb(103, 210, 222);
}

h2::after {
    content:"TOP";
    padding:2px 5px;
    background-color: yellow;
    font-size: 10px;
    color: black;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    position: absolute;

}

/* article{
    /* float: left; */
/* }

h1{
    /* float: left; */
/* }

nav {
    /* float: right; */
/* } */

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(219, 215, 215);
}

.post-header {
    position: relative;
}

.author-box {
    display: flex;
}

#author{
    margin-left: 20px;
    margin-bottom: 40px;
}

.related-post{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
    font-weight: bold;
}

a.related-link{
    color:rgb(9, 191, 212);
}

.related-author{
    font-style: italic;
    font-weight: normal;
}

.row {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

article{
    flex: 1;
    margin-bottom: 0px;
}

aside{
    flex: 0 0 330px;
    height: 450px;
    margin-top:20px; 
}




